@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background: #E5E5E5;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

center {
  padding-left: calc(50% - 570px); /*(1140)/2=570  1600/2=800*/
  padding-right: calc(50% - 570px);
}

.content {
  padding: 0px 14.375% 0px 14.375%;
}

summary {
  display: block;
}

summary::webkit-details-marcer {
  display: none;
}

input, button {
  all: unset;
}

.header {
  height: 75px;
  background: #222222;
  display: flex;
  align-items: center;
  position: relative;
}
.header__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75.35%;
}
.header__box__left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__box__right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__box .menu__content {
  width: 232px;
  margin-top: 26px;
  position: absolute;
  background-color: #FFFFFF;
  padding: 0px 32px 32px 32px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.header__box .menu[open] .menu__heading {
  color: rgb(241, 109, 127);
}
.header__box .menu[open] path {
  fill: rgb(241, 109, 127);
}
.header__box .menu__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.header__box .menu__menu-head {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(0, 0, 0);
  padding-bottom: 4px;
}
.header__box .menu__heading {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  color: rgb(0, 0, 0);
}
.header__box .menu__menu-item {
  margin-top: 32px;
}
.header__box .menu__item {
  margin-top: 20px;
}
.header__box .menu__heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: rgb(111, 110, 110);
}
.header__box .menu__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.header__box .menu__link {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: rgb(111, 110, 110);
}
.header__box .menu__head {
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: rgb(111, 110, 110);
}
.header__box .menu__item[open] .menu__head {
  color: rgb(241, 109, 127);
}

.section-shopping-cart {
  top: 75px;
  height: 148px;
  background: rgb(248, 243, 244);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-shopping-cart__box {
  width: 71.24%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.section-shopping-cart__box__left {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 41px;
  box-sizing: border-box;
}
.section-shopping-cart__box__left__h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(241, 109, 127);
}

.section3 {
  background: rgb(255, 255, 255);
  padding-top: 96px;
  gap: 128px;
  height: 998px; /*1748-75-148-448-79=998*/
  display: flex;
  justify-content: space-between;
}
.section3__box {
  min-height: 998px;
  width: 1140px;
}
.section3__box__product-box {
  min-height: 998px;
  max-width: 57.19%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section3__box__product-box .product {
  max-width: 100%;
  min-height: 306px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgb(234, 234, 234);
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.21);
}
.section3__box__product-box .product__img {
  height: 306px;
  width: 40%;
}
.section3__box__product-box .product__img__img1 {
  height: 306px;
  width: 100%;
}
.section3__box__product-box .product__cont {
  position: relative;
  height: 306px;
  width: 60%;
  display: flex;
  justify-content: center;
}
.section3__box__product-box .product__cont .close {
  position: absolute;
  padding-left: 90%;
  padding-top: 28px;
}
.section3__box__product-box .product__cont .padding {
  height: 306px;
  box-sizing: border-box;
  width: 100%;
  padding: 22px 97px 62px 31px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.section3__box__product-box .product__cont .padding__name {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #000000;
  padding-bottom: 42px;
}
.section3__box__product-box .product__cont .padding__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #5D5D5D;
}
.section3__box__product-box .product__cont .padding__price {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #F16D7F;
}
.section3__box__product-box .product__cont__quantity {
  color: #5D5D5D;
  border: 1px solid rgba(0, 0, 0, 0.13);
  padding-left: 5px;
  padding-right: 5px;
}
.section3__box__product-box .product__box3 {
  padding-top: 32px; /*72-40=32*/
  max-width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section3__box__product-box .product__box3 .button {
  height: 50px;
  border: 1px solid rgb(164, 164, 164);
}
.section3__box__product-box .product__box3 .button .button1 {
  padding: 16px 39px;
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: center;
}
.section3__box__product-box .product__box3 .button .button-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #222222;
}
.section3__box__application {
  max-width: 31.57%;
  padding-top: 17px;
  box-sizing: border-box;
  height: 998px;
  display: flex;
  flex-direction: column;
  gap: 57px;
}
.section3__box__application .form {
  max-width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 272px;
  display: flex;
  gap: 20px;
}
.section3__box__application .form__h1 {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: rgb(34, 34, 34);
}
.section3__box__application .form__button {
  width: 100%;
  height: 45px;
  border: 1px solid rgb(164, 164, 164);
  display: flex;
  padding-left: 18px;
  box-sizing: border-box;
}
.section3__box__application .form__button ::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: rgb(34, 34, 34);
}
.section3__box__application .form__button #text-id {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: rgb(164, 164, 164);
}
.section3__box__application .form__button1 {
  height: 35px;
  padding: 11px 14px;
  border: 1px solid rgb(164, 164, 164);
  box-sizing: border-box;
}
.section3__box__application .form__button1__text {
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  color: #5D5D5D;
}
.section3__box__application .checkout {
  height: 214px;
  width: 100%;
  background: rgb(245, 243, 243);
  padding: 39px 12.22% 42px 12.22%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.section3__box__application .checkout__text1 {
  display: flex;
  gap: 10px;
  justify-content: right;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: rgb(74, 74, 74);
}
.section3__box__application .checkout__text2 {
  margin-bottom: 40px;
  display: flex;
  gap: 20px;
  justify-content: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: rgb(74, 74, 74);
}
.section3__box__application .checkout__text2__p {
  color: rgb(241, 109, 127);
}
.section3__box__application .checkout__button {
  min-height: 50px;
  background: rgb(241, 109, 127);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.section3__box__application .checkout__button__text {
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: rgb(255, 255, 255);
}
.section3__box__application .checkout__button:before {
  content: " ";
  background: rgb(226, 226, 226);
  width: 17%;
  height: 1px;
  /* располагаем линию сверху от текста */
  margin-top: -80px;
  /* включаем абсолютное позиционирование относительно блока с relative */
  position: absolute;
}

.footer .advantages {
  background-color: #222222;
  min-height: 341px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer .advantages__item {
  max-width: 360px;
  min-height: 134px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.footer .advantages__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #F8F8F8;
}
.footer .advantages__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #F8F8F8;
}
.footer .application {
  min-height: 448px;
  max-width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  background: url(img/human__background.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer .application__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1 1 auto;
  min-height: 448px;
  width: 100%;
}
.footer .application__block .human {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50%;
}
.footer .application__block .human__text {
  max-width: 50%;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  font-style: italic;
}
.footer .application__block .email {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50%;
}
.footer .application__block .email__block1 {
  max-width: 100%;
  text-align: center;
  gap: 30px;
}
.footer .application__block .email__block1__h {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.footer .application__block .email__block1__span {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}
.footer .application__block .email__block2 {
  max-width: 100%;
  min-height: 49px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px;
}
.footer .application__block .email__block2 .input_mail {
  background: rgb(225, 225, 225);
  max-width: 75%;
  border: none;
  color: rgb(20, 2, 2);
  padding: 13px;
  text-decoration: none;
  border-radius: 40px 0 0px 40px;
}
.footer .application__block .email__block2 .button_submit {
  background: rgb(241, 109, 127);
  max-width: 30%;
  border: none;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  border-radius: 0px 40px 40px 0px;
}
.footer .networks {
  min-height: 79px;
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .networks__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .networks__box__left {
  max-width: 50%;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(251, 251, 251);
}
.footer .networks__box__right {
  max-width: 50%;
  max-width: 147px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer .networks__box .flogo22, .footer .networks__box .flogo22__logo222 {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 376px); /*(768 -16)/2=376*/
    padding-right: calc(50% - 376px);
  }
  .content {
    padding: 0px 4.1% 0px 4.1%;
  }
  .header {
    min-height: 74px;
  }
  .header__box {
    width: 95.58%;
  }
  .section1-section2-position {
    min-height: 1245px;
  }
  .section1 {
    min-height: 768px;
    width: 100%;
  }
  .section1__background {
    min-height: 624px;
  }
  .content-section2 {
    padding: 0px;
  }
  .section2 {
    top: 699px; /*624+75=699*/
    height: 601px;
    width: 100%;
  }
  .section3 {
    min-height: 510px;
    padding-bottom: 65px;
  }
  .section3 .top {
    padding-bottom: 72px;
  }
  .section3 .product-box {
    gap: 20px;
  }
  .section3 .product {
    width: 47.8%;
    min-height: 581px;
  }
  .section3 .product__img {
    min-height: 420px;
  }
  .section3 .product__content {
    min-height: 116px;
  }
  .section3 .button {
    padding-top: 32px;
  }
  .section3 .button__text {
    border: 1px solid #F16D7F;
    background-color: rgb(255, 106, 106);
    color: rgb(255, 255, 255);
  }
  .section3 .button__text:hover {
    -webkit-text-decoration: underline hsl(249, 90%, 55%) solid 3px;
            text-decoration: underline hsl(249, 90%, 55%) solid 3px; /*подчеркивание текста при наведении*/
  }
  .footer .advantages {
    gap: 50px;
    min-height: 361px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .footer .application {
    padding: 0;
    height: 689px;
    background-position: unset;
    background-size: cover;
  }
  .footer .application__block {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
  .footer .application__block .human {
    padding-top: 64px;
    max-width: 100%;
    gap: 30px;
  }
  .footer .application__block .email {
    max-width: 100%;
    gap: 30px;
    padding-bottom: 140px;
  }
  .footer .networks {
    min-height: 79px;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .networks__box {
    width: 95.58%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer .networks__box__left {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(251, 251, 251);
  }
  .footer .networks__box__right {
    max-width: 147px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .footer .networks__box .flogo22, .footer .networks__box .flogo22__logo222 {
    display: block;
  }
  .footer .networks__box .flogo2, .footer .networks__box .flogo2__logo22 {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .center {
    padding-left: calc(50% - 179.5px); /*(735 -16)/2=179.5*/
    padding-right: calc(50% - 179.5px);
  }
  .content {
    padding: 0px 8.5% 0px 8.5%;
  }
  .header {
    min-height: 74px;
    justify-content: center;
  }
  .header__box {
    width: 65.86%;
  }
  .header__box__left {
    justify-content: left;
    gap: 10px;
  }
  .header__box__right {
    justify-content: right;
    gap: 15px;
  }
  .header__box .logo4, .header__box .logo5 {
    display: none;
  }
  .section1 {
    min-height: 363px;
  }
  .section1__background {
    display: none;
  }
  .section1__text {
    justify-content: center;
  }
  .section3 {
    padding-bottom: 65px;
  }
  .section3 .top {
    padding-bottom: 64px;
  }
  .section3 .product-box {
    gap: 16px;
  }
  .section3 .product {
    width: 100%;
    gap: 24px;
  }
  .section3 .product__content {
    gap: 15px;
  }
  .section3 .button {
    padding-top: 32px;
  }
  .footer .advantages {
    gap: 46px;
    min-height: 610px;
    padding-top: 48px;
    padding-bottom: 84px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .footer .application {
    padding: 0;
    min-height: 550px;
    background-position: unset;
    background-size: cover;
  }
  .footer .application__block {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 59px;
    min-height: 550px;
  }
  .footer .application__block .human {
    padding-top: 64px;
    max-width: 100%;
    gap: 30px;
    max-width: 100%;
  }
  .footer .application__block .human__text {
    max-width: 100%;
  }
  .footer .application__block .email {
    max-width: 100%;
    gap: 22px;
    padding-bottom: 110px;
  }
  .footer .networks {
    min-height: 143px;
    background: #222222;
  }
  .footer .networks__box {
    padding-top: 43px;
    padding-bottom: 10px;
    max-width: 100%;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 33px;
  }
  .footer .networks__box__left {
    max-width: 100%;
  }
  .footer .networks__box__right {
    max-width: 100%;
    gap: 3px;
  }
  .footer .networks__box .flogo22, .footer .networks__box .flogo22__logo222 {
    display: block;
  }
  .footer .networks__box .flogo2, .footer .networks__box .flogo2__logo22 {
    display: none;
  }
}/*# sourceMappingURL=style-basket.css.map */