$widhSize: 1140px;
// $gapGrid: 60px;
// $thirdSite: ($widhSize - $gapGrid) / 3;

* {
    margin: 0;
    padding: 0;
}

body {
    background: #E5E5E5;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

center {
    padding-left: calc(50% - ($widhSize)/2);/*(1140)/2=570  1600/2=800*/
    padding-right: calc(50% - ($widhSize)/2);
}

.content {
    padding: 0px 14.375% 0px 14.375%;
}

// 
summary {
    display: block;
  }

summary::webkit-details-marcer {
    display: none;
}
// 

input, button {
    all: unset; 
}

.header {  
    height: 75px;
    background: #222222;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

    &__box {             
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;       

        &__left {
            display: flex; 
            align-items: center;
            gap: 30px;  
        }

        &__right {
            display: flex;
            align-items: center;
            gap: 30px; 
        }

        .menu {
            &__content {
                z-index: 10;
                // right: 0px;
                width: 232px;
                margin-top: 26px;
                position: absolute;
                background-color: #FFFFFF;
                padding: 0px  32px 32px 32px;
                box-shadow: 6px 4px 35px rgba(0,0,0,0.21);
            }

            &[open] .menu__heading{
                color: rgba(241, 109, 127, 1);
            }
            &[open] path {
                fill: rgba(241, 109, 127, 1);
            }
    
            &__summary {
                display: flex;
                align-items: center;
                gap: 11px;
                padding-left: 16px;
            }
            &__menu-head {
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: left;
                color: rgba(0, 0, 0, 1);
                padding-bottom: 4px;
            }
            &__heading {           
                font-size: 14px;
                font-weight: 600;
                line-height: 17px;
                letter-spacing: 0em;
                color: rgba(0, 0, 0, 1);
            }
            &__menu-item {
                margin-top: 32px;
            }
            &__item {
                margin-top: 20px;
            }
            &__heading {
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0em;
                color: rgba(111, 110, 110, 1);
            }
            &__link-box {
                display: flex;
                flex-direction: column;
                gap: 11px;
            }
            &__link {
                font-family: Lato;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0em;
                color: rgba(111, 110, 110, 1);
            }
            &__head {
                padding-bottom: 12px;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0em;
                color: rgba(111, 110, 110, 1);
            }
            &__item[open] .menu__head {
                color: rgba(241, 109, 127, 1);
            }
        }    
    }         
}

.section-shopping-cart { 
    top: 75px; 
    height: 148px;
    background: rgba(248, 243, 244, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        width: 71.24%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        &__left { 
            max-width: 100%;   
            display: flex;
            align-items: center;  
            gap: 41px; 
            box-sizing: border-box;

            &__h1 {           
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(241, 109, 127, 1);
            }            
        }
    }           
}

.section3 {
    background: rgba(255, 255, 255, 1);
    height: 998px;
    padding-top: 96px; 
    padding-bottom: 128px; 
    gap: 128px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;

    &__box {
        height: 998px;
        width: $widhSize; 
        display: flex;
        flex-wrap: wrap;  
        justify-content: center;                
        &__product-box {
            height: 870px;
            // max-width: 57.19%; // width: 652px;
            display: flex;  
            flex-direction: column;
            // flex-wrap: wrap;  не надо!!!!!!!!!!!!!!   
            gap: 40px;
            .product{
                width: 100%;
                height: 306px;
                display: flex;
                justify-content:space-between;
                flex-wrap: wrap;
                border: 1px solid rgba(234, 234, 234, 1);
                box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.21);
                
                &__img {
                    height: 306px;
                    width: 40%;         
                    &__img1 {
                        height: 306px;
                        width: 100%;
                    }
                }
        
                &__cont { 
                    position: relative;
                    height: 306px;
                    width: 60%;  
                    display: flex;  
                    justify-content: center;            
                    .close {
                        position: absolute;
                        padding-left: 90%;
                        padding-top: 28px;
                    }
                    .padding {
                        height: 306px;
                        box-sizing: border-box;
                        width: 100%;
                        padding: 22px 97px 62px 31px;
                        display: flex;
                        flex-direction: column;
                        gap: 6px;
                        &__name {    
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 29px;
                            color: #000000;
                            padding-bottom: 42px;
                        }
                
                        &__text {              
                            font-size: 22px;
                            font-weight: 400;
                            line-height: 26px;
                            color: #5D5D5D;   
                        }
                
                        &__price {
                            font-size: 22px;
                            font-weight: 400;
                            line-height: 26px;
                            color: #F16D7F;
                        }   
                    }

                    
                    &__quantity {
                        color: #5D5D5D;   
                        border: 1px solid rgba(0, 0, 0, 0.13);
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                } 
                &__box3 {
                    padding-top: 32px;/*72-40=32*/
                    max-width: 100%;
                   height: 50px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center; 
                    gap: 192px;                 
                    .button {
                        height: 50px;
                        border: 1px solid rgba(164, 164, 164, 1);  
                        display: flex;
                        justify-content: center;
                        align-items: center;                                                                      
                        .button1 {
                            padding: 8px 39px;
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            align-items: center;                  
                        } 
                        .button-text {
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 17px;
                        color: #222222; 
                        }
                    }            
                }    
            }
        }
        &__application {
            max-width: 31.57%;
            padding-top: 17px;
            box-sizing: border-box;
            display: flex;  
            flex-direction: column;   
            gap: 57px;
            .form {
                max-width: 100%;
                justify-content:space-between;
                flex-wrap: wrap;
                height: 272px;
                display: flex;
                gap: 20px;
                
                &__h1 {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 19px;
                    color: rgba(34, 34, 34, 1);    
                }
                &__button {
                    width: 100%;
                    height: 45px;
                    border: 1px solid rgba(164, 164, 164, 1);
                    display: flex;
                    padding-left: 18px;
                    box-sizing: border-box;
                    ::-webkit-input-placeholder { 
                        font-size: 13px;
                        font-weight: 300;
                        line-height: 16px;
                        color: rgba(34, 34, 34, 1);
                    }
                    #text-id {
                        font-size: 13px;
                        font-weight: 300;
                        line-height: 16px;
                        color:  rgba(164, 164, 164, 1);
                    }
                }
                &__button1 {
                    height: 35px;
                    padding: 0px 14px;
                    border: 1px solid rgba(164, 164, 164, 1);
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &__text {
                        font-size: 11px;
                        font-weight: 300;
                        line-height: 13px;
                        color: #5D5D5D; 
                    }
                }
            }
            .checkout {
                background: rgba(245, 243, 243, 1);
                padding: 39px 43px 42px 44px;
                display: flex;
                flex-direction: column;  
                gap: 13px;
                &__text1 {
                    display: flex;
                    gap: 10px;
                    justify-content: right;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 13px;
                    color: rgba(74, 74, 74, 1);
                }
                &__text2 {
                    margin-bottom: 40px;
                    display: flex;
                    gap: 20px;
                    justify-content: right;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 19px;
                    color: rgba(74, 74, 74, 1);
                    &__p {
                        color: rgba(241, 109, 127, 1);
                    }
                }
                &__button {
                    position: relative;
                    height: 50px;
                    background: rgba(241, 109, 127, 1);
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    align-items: center;
                    box-sizing: border-box;
                    &__text {
                        display: flex;
                        align-items: center;
                        position: relative;
                        box-sizing: border-box;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 19px;
                        color: rgba(255, 255, 255, 1);
                    }                
                }
                &__button:before{ 
                    position: absolute;
                    content: " ";
                    background: rgba(226, 226, 226, 1);
                    width: 100%;
                    height: 1px;
                    /* располагаем линию сверху от текста */
                    margin-top: -80px;
                    /* включаем абсолютное позиционирование относительно блока с relative */
                    position: absolute;
                }
            }
        }
    }
  
}

.footer { 
    .application {
        min-height: 448px;
        max-width: 100%;
        padding-top: 64px;
        padding-bottom: 64px;
        background: url(img/human__background.svg); 
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat; 
    
        &__block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1 1 auto;
            // gap: 30px;
            min-height: 448px;
            width: 100%;  
            .human {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                width: 50%;  

                &__text {   
                    max-width: 50%;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: center;
                    font-style: italic;
                }
            }
            .email {            
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                width: 50%;  

                &__block1 {
                    max-width: 100%;
                    text-align: center;
                    gap: 30px;
                    &__h {               
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 30px;
                        letter-spacing: 0em;
                        text-align: center;
                    }
                    &__span {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 40px;
                        letter-spacing: 0em;
                        text-align: center;
                    }                             
                }           
            } 
            .email__block2 {
                max-width: 100%;
                min-height: 49px;
                font-size: 16px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 0px;
            
                
                .input_mail  {                   
                    background: rgba(225, 225, 225, 1);                   
                    max-width:75%;                   
                    border: none;
                    color: rgb(20, 2, 2);
                    padding: 13px;                   
                    text-decoration: none;
                    border-radius: 40px 0 0px 40px;
                }
                 .button_submit {
                    background: rgba(241, 109, 127, 1);
                    max-width: 30%;  
                    border: none;
                    color: white;
                    padding: 13px;
                    text-align: center;
                    text-decoration: none;                    
                    border-radius: 0px 40px 40px 0px;
                }
            }       
        }  
    } 
    
    .networks {  
        min-height: 79px;
        background: #222222;
        display: flex;
        justify-content: center;
        align-items: center;

        &__box {
            width: 100%;
            display: flex;
            flex-direction: row;
            // flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
    
            &__left { 
                max-width: 50%;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;  
                color: rgba(251, 251, 251, 1);    
            }
        
            &__right {
                max-width: 50%;
                max-width: 147px;
                display: flex;
                align-items: center;                
                gap: 5px ;                   
            }  
            .flogo22, .flogo22__logo222  {
                display: none;
            }   
        }
           
    }
}

@media ( max-width: 1024px) {
    $widhSize: 768px;
    $scrolling: 16px;

    .center {
        padding-left: calc(50% - (calc($widhSize - $scrolling)/2));/*(768 -16)/2=376*/
        padding-right: calc(50% - (calc($widhSize - $scrolling)/2));
    }

    .content {
        padding: 0px 4.1% 0px 4.1%;
    }

    .header {  
       
        min-height: 74px;
    
        &__box {
            width: 95.58%;
            .menu {
                &__content {
                    right: 0px;
                }
            }
        }   
    }

    .section1-section2-position {        
        min-height: 1245px;
    }

    .section1 {
        min-height: 768px;
        width: 100%;
        
        &__background {
            min-height: 624px;  
        }
    }

    .content-section2 {
        padding: 0px;
    }

    .section2 {
        top: 699px;/*624+75=699*/
        height: 601px;
        width: 100%;
    }

    .section3 {
        height: 1280px;
        padding-top: 59px; 
        padding-bottom: 128px; 
        gap: 64px;
        align-items: center;
        flex-direction: column;
        &__box {
            height: 1280px;
            &__product-box {
                height: 823px;
                width: 100%; // width: 652px;
                // flex-wrap: wrap;  не надо!!!!!!!!!!!!!! 
                .product {
                    &__box3 {
                        gap: 48px;
                        justify-content: center;
                    }
                }                 
            }
            &__application {
                padding-top: 0px;
                height: 272px;
                max-width: 100%;
                display: flex;  
                flex-direction: row;   
                gap: 15px;
                box-sizing: border-box;
                justify-content: space-between;
                .form {
                    width: 50%;
                }
                .checkout {
                    width: 50%;
                    margin-top: 40px;
                    .checkout {
                        padding: 39px 5px 42px 5px;
                    } 
                }
            }
        }    
    }

    .footer {
        .application {
            padding: 0;
            min-height: 550px;
            background-position: unset;
            background-size: cover;
            
            &__block {                
                flex-wrap: wrap;                
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 59px;  
                  
                min-height: 550px;        
                .human {
                    padding-top: 64px;
                    // height: 225px; 
                    width: 50%;
                    gap: 30px;        
                    max-width: 100%;          
                    &__text {   
                        max-width: 100%;
                    }
                }
                .email {    
                    // height: 137px; 
                    width: 50%;
                    gap: 22px;  
                    padding-bottom: 110px;                              
                }                                                             
            }  
        } 
    }                
}

@media ( max-width: 767px) {
    $widhSize: 375px;
    $scrolling: 16px;

    .center {
        padding-left: calc(50% - (calc($widhSize - $scrolling)/2));/*(735 -16)/2=179.5*/
        padding-right: calc(50% - (calc($widhSize - $scrolling)/2));
    }

    .content {
        padding: 0px 8.5% 0px 8.5%;
    }

    .header {  
        &__box {
            width: 100%;
            .logo4, .logo5 {
                display: none;
            } 
            .menu {
                &__content {
                    right: 0px;
                }
            }
        }   
    }

    .section1 {
        min-height: 363px;
        &__background {
            display: none;
        }
        &__text {
            justify-content: center;
        }
    }

    .section3 {
        height: 1188px;
        padding-top: 39px; 
        padding-bottom: 96px; 
        gap: 48px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;   
        &__box { 
            height: 1188px;
            &__product-box {
                width: 100%; // width: 652px;
                // flex-wrap: wrap;  не надо!!!!!!!!!!!!!!   
                gap: 32px;
                .product{
                    max-width: 100%;
                    height: 188px;
                    &__img {
                        height: 188px;      
                        &__img1 {
                            height: 188px;
                            width: 100%;
                        }
                    }           
                    &__cont { 
                        height: 188px;           
                        .close {
                            position: absolute;
                            padding-left: 80%;
                            padding-top: 17px;
                        }
                        .padding {
                            box-sizing: border-box;
                            height: 188px;
                            padding: 14px 53px 37px 17px;
                            gap: 4px;
                            &__name {    
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 19px;
                                padding-bottom: 26px;
                            }
                    
                            &__text {              
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;

                            }
                    
                            &__price {
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;
                            }   
                        }
                    } 
                    &__box3 {
                        padding-top: 0px;/*72-40=32*/
                        gap: 9px;                 
                        .button {                                                                
                            .button1 {
                                padding: 9px 18px;                         
                            } 
                            .button-text {
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 14px;       
                            }   
                        }            
                    }    
                }
            }
            &__application {
                max-width: 100%;
                padding-top: 0px;
                gap: 48px;
                .form {
                    max-width: 100%;
                }   
                .checkout {
                    padding: 39px 10px 42px 10px;
                }             
            }
        }     
    }

    .footer {
        .application {
            padding: 0;
            min-height: 550px;
            background-position: unset;
            background-size: cover;
            
            &__block {                
                flex-wrap: wrap;                
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 59px;  
                  
                min-height: 550px;        
                .human {
                    padding-top: 64px;
                    // height: 225px; 
                    width: 100%;
                    gap: 30px;        
                    max-width: 100%;          
                    &__text {   
                        max-width: 100%;
                    }
                }
                .email {    
                    // height: 137px; 
                    width: 100%;
                    gap: 22px;  
                    padding-bottom: 110px;                              
                }                                                             
            }  
        }                 
        .networks {  
            min-height: 143px;
            background: #222222;
    
            &__box {
                padding-top: 43px;
                padding-bottom: 10px;
                max-width: 100%;
                flex-direction: column-reverse;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                gap: 33px;
        
                &__left { 
                    max-width: 100%;;                  
                }
            
                &__right {
                    max-width: 100%;   
                    gap: 3px  
                } 
                .flogo22, .flogo22__logo222  {
                    display: block;
                } 

                .flogo22, .flogo2__logo22  {
                    display: none;
                }    
            }   
        }
    } 
}
